<mat-sidenav-container fullscreen autosize>
    <mat-sidenav *ngIf="userProfile"
                 opened
                 mode="side"
                 [ngStyle]="{ 'width.px': sidenavWidth }"
                 [ngClass]="{ 'side-nav-shadow' : isExpanded }"
                 (mouseover)="expandSidenav()"
                 (mouseleave)="collapseSidenav()">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign=" center">
                <img src="../assets/evoter-icon.png"
                     [style.width]="isExpanded ? '100px' : '60px'"
                     [style.margin]="isExpanded ? '0' : '-15px 0 0 10px'">
                <h1 fxFlexAlign="end" style="margin: 0 0 15px -40px;" [style.visibility]="isExpanded ? 'visible' : 'hidden'">eVoter</h1>
            </div>
            <button mat-icon-button fxFlexAlign="end" style="margin: 1.34em 0;" (click)="isCollapsible = !isCollapsible" [style.visibility]="isExpanded ? 'visible' : 'hidden'">
                <mat-icon *ngIf="isCollapsible">panorama_fish_eye</mat-icon>
                <mat-icon *ngIf="!isCollapsible">radio_button_checked</mat-icon>
            </button>
        </div>
        <mat-nav-list>
            <div *ngFor="let route of routes">
                <mat-list-item *ngIf="route.IsVisible" [routerLink]="[route.Route]" [routerLinkActive]="['link-active']">
                    <mat-icon>{{ route.Icon }}</mat-icon>
                    <span *ngIf="isExpanded">{{ route.Label }}</span>
                </mat-list-item>
            </div>
            <mat-list-item (click)="openSettingsDialog()">
                <mat-icon>settings</mat-icon>
                <span *ngIf="isExpanded">Settings</span>
            </mat-list-item>
            <mat-list-item style="position: absolute; bottom: 0;" (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span *ngIf="isExpanded">Logout</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column" style="height: 100%;">
        <app-top-nav-bar fxFlex="0 0 auto" *ngIf="userProfile"></app-top-nav-bar>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
