<div class="centered-content">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="width: 30%;">
        <mat-card fxLayout="column" style="padding: 40px;">
            <h1 class="title">Log in</h1>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput required email formControlName="email">
                <mat-error *ngIf="lf.email.errors && lf.email.errors.required">Email is required</mat-error>
                <mat-error *ngIf="lf.email.errors && lf.email.errors.email">Email is invalid</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput required type="password" formControlName="password">
                <mat-error *ngIf="lf.password.errors && lf.password.errors.required">Password is required</mat-error>
            </mat-form-field>

            <a routerLink="/change-password" fxFlexAlign="end" style="font-size: small; margin-bottom: 20px;">Forgot password?</a>

            <div fxLayout="column" fxLayoutGap="20px" fxFlex="20">
                <button mat-raised-button color="primary" style="border-radius: 100px; height: 50px;" type="submit">Log in</button>
                <span fxFlexAlign="center" style="font-size: small;">Don't have an account? <a routerLink="/signup">Sign up</a> now.</span>
            </div>
        </mat-card>
    </form>
</div>