<div class="centered-content">
    <mat-card style="padding: 40px;" >
        <form *ngIf="user == null"
              [formGroup]="emailForm"
              (ngSubmit)="onEmailSubmit()"
              fxLayout="column">
            <h1 class="title">Forgot your password</h1>
            <mat-form-field appearance="outline">
                <mat-label>Enter email address</mat-label>
                <input matInput required email formControlName="email">
                <mat-error *ngIf="ef.email.errors && ef.email.errors.required">Email is required</mat-error>
                <mat-error *ngIf="ef.email.errors && ef.email.errors.email">Email is invalid</mat-error>
            </mat-form-field>
            
            <button mat-raised-button color="primary" style="border-radius: 100px; height: 50px;" type="submit">Submit</button>
        </form>
        
        <form *ngIf="user != null && !securityQuestionsValid"
              [formGroup]="securityQuestionForm"
              (ngSubmit)="onQuestionsSubmit()"
              fxLayout="column">
            <h1 class="title">Please answer your security questions</h1>
            <div formArrayName="securityQuestions">
                <div *ngFor="let item of sfa.controls; let i = index">
                    <div [formGroupName]="i" fxLayout="column">
                        <p>{{ item.value.question }}</p>
                        <mat-form-field fxFlex appearance="outline">
                            <mat-label>Answer</mat-label>
                            <input matInput required formControlName="answer">
                            <mat-error *ngIf="item.controls.answer.errors && item.controls.answer.errors.required">Answer is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <button mat-raised-button color="primary" style="border-radius: 100px; height: 50px;" type="submit">Submit</button>
        </form>

        <form *ngIf="securityQuestionsValid"
              [formGroup]="passwordForm"
              (ngSubmit)="onPasswordSubmit()"
              fxLayout="column">
            <h1 class="title">Choose a new password</h1>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput required type="password" minlength="8" formControlName="password">
                <mat-error *ngIf="pf.password.errors && pf.password.errors.required">Password is required</mat-error>
                <mat-error *ngIf="pf.password.errors && pf.password.errors.minlength">Password has to be a minimum of 8 chars</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
                <mat-error *ngIf="passwordForm.errors && passwordForm.errors.mismatch">Passwords do not match</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" style="border-radius: 100px; height: 50px;" type="submit">Submit</button>
        </form>
    </mat-card>
</div>