<div class="centered-content">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <mat-card fxLayout="column" style="padding: 40px;">
            <h1 class="title">Sign up</h1>

            <div fxLayout="row" fxLayoutGap="30px">
                <div fxLayout="column">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput required formControlName="name">
                        <mat-error *ngIf="rf.name.errors && rf.name.errors.required">Name is required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput required email formControlName="email">
                        <mat-error *ngIf="rf.email.errors && rf.email.errors.required">Email is required</mat-error>
                        <mat-error *ngIf="rf.email.errors && rf.email.errors.email">Email is invalid</mat-error>
                    </mat-form-field>

                    <div formGroupName="passwords" fxLayout="column">
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput required type="password" minlength="8" formControlName="password">
                            <mat-error *ngIf="rf.passwords.controls.password.errors && rf.passwords.controls.password.errors.required">Password is required</mat-error>
                            <mat-error *ngIf="rf.passwords.controls.password.errors && rf.passwords.controls.password.errors.minlength">Password length needs to be a minimum of 8 characters</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput type="password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="rf.passwords.errors && rf.passwords.errors.mismatch">Passwords do not match</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxLayoutGap="20px">
                        <mat-slide-toggle formControlName="isHostingPolls" color="primary">
                            I will be hosting polls
                        </mat-slide-toggle>

                        <mat-slide-toggle formControlName="is2FAEnabled" color="primary">
                            Enable Two-Factor Authentication
                        </mat-slide-toggle>
                    </div>
                </div>

                <div fxLayout="column">
                    <!-- security questions -->
                </div>

                <div fxLayout="column" fxLayoutGap="20px">
                    <button mat-raised-button color="primary" type="submit">Sign up</button>
                    <span>Already have an account? <a routerLink="/login">Log in.</a></span>
                </div>
            </div>
        </mat-card>
    </form>
</div>