<mat-horizontal-stepper #stepper fxFlex linear>
    <mat-step label="Poll configuration"
              errorMessage="Invalid configuration."
              [hasError]="!pollConfigForm.valid"
              [completed]="pollConfigForm.valid">
        <form [formGroup]="pollConfigForm"
              fxLayout="column"
              fxFlex="50">
            <mat-form-field>
                <input matInput required formControlName="title" placeholder="Title">
                <mat-error *ngIf="pcf.title.errors && pcf.title.errors.required">Title is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Type</mat-label>
                <mat-select formControlName="type" required (selectionChange)="onPollTypeChange($event)">
                    <mat-option *ngFor="let type of pollTypes" [value]="type.value">{{ type.display }}</mat-option>
                </mat-select>
                <mat-error *ngIf="pcf.type.errors && pcf.type.errors.required">Type is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Access Level</mat-label>
                <mat-select formControlName="accessLevel" required>
                    <mat-option *ngFor="let accessLevel of accessLevels" [value]="accessLevel.value">{{ accessLevel.display }}</mat-option>
                </mat-select>
                <mat-error *ngIf="pcf.accessLevel.errors && pcf.accessLevel.errors.required">Access Level is required</mat-error>
            </mat-form-field>

            <div fxLayout="row" fxLayoutGap="20px">
                <mat-form-field fxFlex>
                    <input matInput
                        readonly
                        required
                        [min]="minDate"
                        [matDatepicker]="endDatePicker"
                        (focus)="endDatePicker.open()"
                        (dateChange)="constructEndTimeArray()"
                        formControlName="endDate"
                        placeholder="End Date">
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                    <mat-error *ngIf="pcf.endDate.errors && pcf.endDate.errors.required">End Date is required</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <mat-label>End Time</mat-label>
                    <mat-select formControlName="endTime" required>
                        <mat-option *ngFor="let time of endTimeArray" [value]="time.value">{{ time.display }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="pcf.endTime.errors && pcf.endTime.errors.required">End Time is required</mat-error>
                </mat-form-field>
            </div>

            <br />

            <div fxLayout="column" fxLayoutGap="20px">
                <mat-slide-toggle formControlName="isAnonymousModeOn" color="primary">
                    Anonymous Mode
                </mat-slide-toggle>

                <mat-slide-toggle formControlName="isHiddenUntilDeadline" color="primary">
                    Results Remain Hidden Until Deadline
                </mat-slide-toggle>

                <mat-slide-toggle formControlName="canVotersSeeResults" color="primary">
                    Allow All Voters To See Results
                </mat-slide-toggle>
            </div>
        </form>

        <br /><br />

        <div>
            <button mat-button matStepperNext type="button">Next</button>
        </div>
    </mat-step>

    <mat-step #questionStep
              label="Add Questions"
              errorMessage="At least one question is required."
              [hasError]="questionStep.interacted && (qfa.length == 0 || !questionForm.valid)"
              [completed]="qfa.length > 0 && questionForm.valid">
        <form [formGroup]="questionForm"
              fxLayout="column"
              fxLayoutGap="20px"
              fxFlex="70">
            <div formArrayName="questions">
                <div *ngFor="let item of qfa.controls; let i = index;">
                    <div [formGroupName]="i">
                        <mat-card style="margin: 20px 0;">
                            <div fxLayout="row" fxLayoutGap="20px">
                                <mat-form-field *ngIf="pcf.type.value == SURVEY">
                                    <mat-label>Type</mat-label>
                                    <mat-select formControlName="questionType" [required]="pcf.type.value == SURVEY" (selectionChange)="onQuestionTypeChange($event, item)">
                                        <mat-option *ngFor="let type of questionTypes" [value]="type.value">{{ type.display }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="item.controls.questionType.errors && item.controls.questionType.errors.required">Type is required</mat-error>
                                </mat-form-field>

                                <mat-form-field fxFlex>
                                    <input matInput required formControlName="question" placeholder="Question">
                                    <mat-error *ngIf="item.controls.question.errors && item.controls.question.errors.required">Question is required</mat-error>
                                </mat-form-field>

                                <button *ngIf="i > 0" mat-mini-fab color="warn" (click)="deleteQuestion(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>

                            <div *ngIf="item.value.questionType == MULTIPLE_CHOICE || pcf.type.value == ELECTION" style="margin-top: 20px;">
                                <div *ngFor="let choice of item.controls.choices.controls; let j = index;">
                                    <div [formGroup]="choice" fxLayout="row" fxLayoutGap="20px">
                                        <mat-form-field fxFlex>
                                            <input matInput required formControlName="option" placeholder="Option">
                                            <mat-error *ngIf="choice.controls.option.errors && choice.controls.option.errors.required">Option is required</mat-error>
                                        </mat-form-field>

                                        <button *ngIf="j > 0" mat-mini-fab color="accent" (click)="deleteChoice(item, j)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <button mat-raised-button (click)="addChoice(item)" style="margin-top: 20px;"><mat-icon>add</mat-icon> Add New Multiple Choice Option</button>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
            <button mat-raised-button (click)="addQuestion()"><mat-icon>add</mat-icon> Add New Question</button>
        </form>

        <br/><br/>

        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext type="button">Next</button>
        </div>
    </mat-step>

    <mat-step label="Done">
        <p>You are all set! Create and host your poll now.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>
